/* body {
  background-image: url("../images/57157667-cute-animals-isolated-over-white.webp");
  background-color: rgba(0, 0, 0, 0.719);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
} */

/* UNIVERSAL STYLES */

body {
  font-family: montserrat "Courier New", Courier, monospace;
  scroll-behavior: smooth;
  position: relative;
}

.active {
  position: relative;
  font-weight: 600;
}

.active::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

li {
  margin: 0 0.7em;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: none;
}

header {
  padding: 0;
  transform: translateY(-400px) scale(0);
  animation: slideInBottom 1.2s ease-in-out forwards 0.5s;
  transition: animation 1.2s ease-in-out;
}

.p-0 {
  padding: 0;
}

/* UNIVERSAL STYLES*/

header li a {
  color: #000;
}

header img {
  width: 100px;
  height: 100px;
}
header .header1 li {
  margin: 0 2em;
}

header .header1 .ul2 li {
  margin: 0 2.5em;
}

header .header1 a:hover {
  text-decoration: none;
  color: orange;
}

header .header1 a:hover .active {
  color: black;
}

header .bdg {
  position: relative;
}

header .bdg-after {
  position: absolute;
  content: "";
  top: 0;
  right: -5px;
  border-radius: 50%;
  color: white;
  background-color: rgb(207, 28, 28);
  width: 15px;
  height: 15px;
  place-items: center;
  font-size: 0.65em;
  padding: 0.1em;
}

header .header2 ul li a {
  font-size: 1.5em;
}

.header2 a i:hover {
  color: orange;
  transform: scale(1.1);
}

header .black {
  background-color: black;
}

.d-center {
  display: grid;
  place-items: center;
}

.hero-section {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "image1 heading image2";
  grid-template-rows: repeat(1, 500px);
  grid-gap: 5px;
  width: 100%;
}

.hero-section img {
  width: 100%;
  height: 100%;
}

.hero-image-1 {
  grid-area: image1;
  transform: translateX(-400px) scale(0.2);
  animation: slideInLeft 1.2s ease-in-out forwards 1s;
  transition: animation 1.2s ease-in-out;
}

.hero-image-2 {
  grid-area: image2;
  transform: translateX(400px) scale(0.2);
  animation: slideInRight 1.2s ease-in-out forwards 2s;
  transition: animation 1.2s ease-in-out;
}

.hero-text {
  grid-area: heading;
  transform: translateY(-400px) scale(0.2);
  animation: slideInCenter 1.2s ease-in-out forwards 1.5s;
  transition: animation 1.2s ease-in-out;
}

.hero-text .discount {
  display: grid;
  place-items: center;
  height: 10%;
  width: 100%;
}

.hero-text .discount h6 {
  animation: scale 3s linear infinite ease-in-out;
  transition: animation 2s ease-in-out;
}

.hero-text .description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  width: 100%;
  font-size: 3em;
}

.description h1 {
  font-weight: 700;
}

.hero-text .b {
  display: grid;
  place-items: center;
  height: 10%;
  width: 100%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-400px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideInCenter {
  0% {
    transform: translateY(400px) scale(0.2);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(400px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(-400px) scale(0.2);
  }
  100% {
    transform: translatey(0px) scale(1);
  }
}

.hero-image-2 {
  grid-area: image2;
}

/* arrow down */

.arrow-down {
  display: grid;
  place-items: center;
  width: 100%;
  height: 10vh;
}

.arrow-down img {
  width: 1.5%;
  animation: bounce 2s infinite linear;
  transition: animation 2s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    padding-bottom: 0em;
  }
  25% {
    padding-bottom: 2em;
  }
  50% {
    padding-bottom: 4em;
  }
  75% {
    padding-bottom: 2em;
  }
}
/* arrow-down end */

.top-categories {
  transform: skewY(-2deg);
}

.categories-header h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  transform: skewY(2deg);
}
.categories {
  transform: skewY(2deg);
}

.categories button:hover i {
  color: white;
}

.icons i {
  color: black;
  cursor: pointer;
}

.categories .icons i:hover {
  transform: scale(1.1);
  color: orange;
}

.header-pseudo {
  position: relative;
  color: black;
}

.header-pseudo::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.category-body {
  padding: 2em;
  overflow-x: scroll;
}

.category-body img {
  width: 80%;
}

.product {
  transition: transform 0.15s ease-in-out;
}

.new-badge {
  position: absolute;
  top: -7px;
  right: -10px;
  width: auto;
  height: auto;
  background-color: rgba(255, 166, 0, 0.726);
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50%;
  animation: badgeAnimation 0.3s ease-in-out linear infinite;
  transition: animation 0.3s;
  border-radius: 50%;
}

.product:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.39);
}

.product-price {
  border-radius: 5px;
}

.product-description {
  flex-wrap: wrap;
}

/* footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "summary important utilities";
} */

footer li a {
  transition: font-weight 0.1s ease-in-out;
  padding: 0.4em;
}

footer li a:hover {
  font-weight: 700;
  text-decoration: none;
}

footer img {
  width: 100px;
}

.company-summary {
  width: 33.3%;
}

.important-details {
  width: 33.3%;
}

.utilities {
  width: 33.3%;
}

.utilities li a,
.important-details li a {
  color: black;
}

.utilities ul {
  width: 80%;
}

.social-links ul {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 10px;
}

.social-links i:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 3px 8px rgb(141, 11, 11);
}

footer li {
  font-style: italic;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: auto;
  position: absolute;
  top: 5em;
  right: 0;
  opacity: 0;
}

.show {
  opacity: 1;
}

.product .add-to-cart {
  position: relative;
  cursor: pointer;
  display: flex;
}

.product button i {
  pointer-events: none;
}

.product .add-to-cart-after {
  position: absolute;
  display: grid;
  padding: 2em;
  place-items: center;
  top: -20%;
  right: -20%;
  width: 15px;
  height: 15px;
  background-color: black;
  color: orange;
  font-size: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
